/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

#container {
    height: 680px;
    width: 600px;
    border: 1px solid #D9D5C2 ;
    background-color: #EAE7D2;
    margin: auto;
}
#content {
    width:600px;
    padding: 10px;
    padding-top: 30px; 
    font-family:Verdana;
    font-size:  0.9em;
    height: 450px;
    line-height:20px;
}
#maincontent {
    width:330px;
    float: left;

}

#maincontent h1 {
    font-size: 2.2em;
    padding-bottom:20px;
    
}
#maincontent  img {
    padding-right:5px;
    
    float: left;
}    


#subcontent {
    width: 250px;
    float: right;
    padding-right:10px;
}

#subcontent h1 {
   padding-bottom:30px;
   font-size: 1.3em;
}    

#subcontent h2 {
    font-size: 1.2em;
    padding-top:20px;
}

#subcontent ul, li, a {
    color: #51473D;
}


#topbar {
    background-color:#51473D;
    color: #EAE7D2;
    text-align: right;
    background-image: url('pics/coffey.jpg');
    background-position:center bottom;
    height: 220px;
    width: 600px;
    background-repeat:no-repeat;
}
#menu > a {
  display: none;
}



#menu {
    background-color:#51473D;
    padding-top: 10px;
    height:30px;
    }

#menu ul {
    margin-left: 10px;
}


#menu li {
    display: inline;
    background-color: #797066;
    border-right: 1px solid #51473D;
    float: left;
    padding:7px;
}
#menu ul li.active a {
    background-color: #EAE7D2;
    padding:7px;
    color: #797066;
    
}

#menu li a  {
 color: #EAE7D2 ;  
 padding-right: 20px;
 height: 30px;
 text-decoration: none;
}

#menu li a:hover {
    background-color: grey;
    
    
}

#menu a:visited {
   color: #EAE7D2 ;
   
}
#bottomcontent {
    display: inline-block;
    padding-top: 10px;
}
